body {
    margin: 20px auto;

    color: #fff;
    background-color: #2196f3;

    text-align: center;
}

#title {
    margin: 5px auto;

    font-family: 'Ubuntu Mono';
    font-size: 3.5em;
}

#subtitle {
    margin: 5px;
}

#main-body {
    width: 400px;
}

#text-box {
    margin: 20px auto;
    width: 400px;
    height: 200px;
}

#number-box {
    padding: 5px;
    width: 30px;
    height: 30px;

    resize: none;
    overflow-y: hidden;
}

#sum-btn {
    margin: 10px auto 20px;

    cursor: pointer;
}

#summarized-text-box {
    padding: 10px;
}
