<!DOCTYPE html>
<html>

<head>
    <title>Reducio</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Reducio</h1>

        <textarea id="text-box" class="form-control" placeholder="Please put your news here."></textarea>

        <textarea id="number-box" class="form-control" maxlength="2"></textarea>

        <button id="sum-btn" type="submit" class="btn btn-success">
            Summarize
        </button>

        <div id="boxes">
            <p></p>
        </div>
    </div>
</body>

</html>
